# Project-Wide .gitignore Items

# macOS files
.DS_Store

# OS Enviroment files
.env

# Sample Output files
output/

# Python Environment files
.venv/

# Other python excludes
__pycache__/
.pytest_cache/
*.py[cod]

# YottaDB Data
ydb-data/
