# -----------------------------------------------------------
# Python Dependencies
# -----------------------------------------------------------
# Run this within the vehu-dev container to update the
# Python runtime. Not applicable in local mac environment.
# -----------------------------------------------------------

pandas>=2.1.0,<3.0.0
yottadb

fastapi
uvicorn[standard]
jinja2
httpx

pydantic-settings>=2.0

python-multipart
python-dotenv

psutil
