<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My App{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <!-- <link rel="icon" href="/static/image/favicon-msu.ico"> -->
    <link rel="icon" href="/static/image/favicon-emoji.ico">
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
</head>
<body>
    <div class="container">
        <nav><strong>System Monitor</strong></nav>
        <hr>
        {% block content %}{% endblock %}
    </div>
</body>
</html>